---
/**
 * * These are larger cards with icons, titles, and text
 * Recommend using minimum 3 cards in a row, although this should work for any number of cards
 * These smaller cards work great if there are a large amount of services to advertise
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons, name it whatever, and use similar to below example "tabler/calendar-check"
 */

import { Icon } from "astro-icon";

// components
import ServiceCard from "@components/ServiceCard/ServiceCardIcon.astro";
import Badge from "@components/Badge/Badge.astro";
// import FeatureCard from "@components/FeatureCard/FeatureCardTest.astro";

interface FeatureData {
  icon: string;
  title: string;
  text: string;
  href: string;
}

// data
const featureData: FeatureData[] = [
  {
    icon: "sheep",
    title: "Sheeptank",
    text: `A lighthearted and fast paced approach to presenting a single interesting business case (by the sheep) and ultimate judgement (by the wolves).`,
    href: "https://spryker.com/sheeptank-podcast",
  },
  {
    icon: "tabler/outline/a-b",
    title: "CRO.CAFE",
    text: `Podcast about Conversion Rate Optimization and Business Experimentation. With episodes in English, Dutch, Spanish and German.`,
    href: "https://www.cro.cafe",
  },
  {
    icon: "tabler/outline/friends",
    title: "Spryker Community",
    text: `Highlighting the stories from our community, sharing insights and best practices.`,
    href: "/",
  },
];
---

<section id="services-icon" class="py-24 md:py-28">
  <div
    class="site-container bg-[url('/assets/pattern-light.svg')] bg-center bg-no-repeat dark:bg-[url('/assets/pattern-dark.svg')]"
  >
    <div class="mx-auto mb-16 text-center md:max-w-4xl" data-aos="fade-up">
      <Badge>Podcasting</Badge>
      <h2 class="h2 mb-4">Podcasts that I host & produce</h2>
      <p class="description text-lg md:text-xl">
        Podcasting is a great way to learn, share and get to know people. I've published over 250 episodes for different podcasts:
      </p>
    </div>
    <div
      class="grid gap-4 sm:grid-cols-2 md:grid-cols-3"
      id="services-icon-cards"
    >
      {
        featureData.map((feature, idx) => (
          <ServiceCard
            title={feature.title}
            text={feature.text}
            icon={feature.icon}
            href={feature.href}
            idx={idx}
            data-aos="zoom-in"
            data-aos-delay={0.15 * idx}
            data-aos-trigger="#services-icon-cards"
          />
        ))
      }
    </div>
  </div>
</section>
