---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */

import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

// components
import Button from "@components/Button/Button.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

interface Props {
  title: string; // larger title
  details: string; // text details
  href: string; // link to learn more
  image: ImageMetadata; // an imported image
  imageSide: "left" | "right";
  idx: number; // determines which "blob" icon svg to use. There are 4 options (0-3)
}

const { image, title, href, idx, details, imageSide } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<div
  class="mx-auto grid gap-8 rounded-xl md:grid-cols-2 md:gap-12 lg:gap-20"
  id=`card-side-img-${idx}`
  data-aos=`${imageSide == "left" ? "fade-right" : "fade-left"}`
>
  <!-- text -->
  <div class=`${imageSide === "left" ? "md:order-last": ""} col-span-1`>
    <h3 class="h2 mt-6">{title}</h3>
    <p class="description mt-6">{details}</p>
    <div class="z-20 mt-8 flex">
      <Button
        variant="primary"
        href={getRelativeLocaleUrl(currLocale, href)}
        arrow="none"
      >
        Learn more <span class="sr-only">about {title}</span>
      </Button>
    </div>
  </div>

  <!-- image -->
  <div class="relative mx-auto max-w-4xl">
    <Icon
      name="atlas/circle3"
      class={`absolute -left-8 -top-4 z-10 w-20  md:-top-8 md:w-28 ${
        imageSide === "right" ? "text-accent-1" : "text-accent-4 rotate-90"
      }`}
      aria-hidden="true"
    />
    <Icon
      name="atlas/dots3"
      class={`absolute -bottom-4 -right-7 z-10 w-20 text-accent-2 md:-bottom-8 md:w-28 ${
        imageSide === "right" ? "text-accent-2" : "text-accent-3"
      }`}
      aria-hidden="true"
    />
    <Image
      class="relative rounded-xl border border-transparent object-cover"
      src={image}
      alt={title}
      height={700}
    />
  </div>
</div>
