---
/**
 * * These are cards with icons, titles, text, and a url
 * Recommend using minimum 3 cards in a row, although this should work for any number of cards
 * These smaller cards work great if there are a large amount of services to advertise
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon";

// components
import Button from "@components/Button/Button.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

interface Props {
  icon: string; // icon string for astro-icon
  title: string;
  text: string;
  href: string;
  idx: number; // determines which "blob" icon svg to use. There are 4 options (0-3)
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { icon, title, text, href, idx, ...rest } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<div {...rest} class="h-full">
  <a
    href={href}
    class="group flex h-full flex-col justify-between overflow-hidden rounded-xl px-4 py-8 text-center transition-all duration-300 hover:bg-white hover:shadow-xl dark:hover:bg-base-900"
  >
    <div>
      <div
        class="mx-auto mb-7 inline-flex size-16 items-center justify-center rounded-lg bg-primary-500 text-base-100 dark:text-base-900"
      >
        <Icon name={icon} class="size-7 text-base-100 dark:text-base-900" aria-hidden="true" />
      </div>

      <h3 class="h3 mb-3">{title}</h3>
      <p class="description text-pretty">{text}</p>
    </div>
    <div class="mt-6 flex justify-center">
      <Button variant="outline" arrow="right">
        Check it out<span class="sr-only">about {title}</span>
      </Button>
    </div>
  </a>
</div>
