---
import { Icon } from "astro-icon/components";

interface Props {
  variant: "tip" | "caution" | "danger" | "info" | "terminal" | "prompt";
}

const { variant } = Astro.props as Props;

// create a switch statement that switches on "variant" and returns the appropriate icon
const icon = (() => {
  switch (variant) {
    case "tip":
      return "tabler/bulb";
    case "caution":
      return "tabler/alert-triangle";
    case "danger":
      return "tabler/flame";
    case "info":
      return "tabler/info-circle";
    case "terminal":
      return "tabler/terminal-2";
    case "prompt":
      return "tabler/user";
  }
})();

const label =
  variant === "terminal"
    ? "SYSOPUS"
    : variant === "prompt"
      ? "GUIDO"
      : variant.toUpperCase();
---

{
  variant === "terminal" ? (
    <div class="admonition border-gold bg-gold/10 text-base-600 prose-code:bg-gold/20 dark:text-base-300 dark:prose-code:bg-gold/20 my-3 rounded-lg border px-4 py-3 font-mono text-sm">
      <span
        class="mr-2 inline-flex items-center gap-1.5 align-middle"
        style="transform: translateY(-1px);"
      >
        <Icon
          name={icon}
          class="text-base-700 dark:text-base-300 inline size-5"
          aria-hidden="true"
        />
        <span class="font-bold">{label}</span>
      </span>
      <slot />
    </div>
  ) : variant === "prompt" ? (
    <div class="admonition border-pine bg-pine/10 text-base-700 dark:text-base-300 my-3 rounded-lg border px-4 py-3 font-mono text-sm">
      <span
        class="mr-2 inline-flex items-center gap-1.5 align-middle"
        style="transform: translateY(-1px);"
      >
        <Icon
          name={icon}
          class="text-base-700 dark:text-base-300 inline size-5"
          aria-hidden="true"
        />
        <span class="font-bold">{label}</span>
      </span>
      <slot />
    </div>
  ) : (
    <div
      class:list={[
        "admonition text-base-700 dark:text-base-300 my-3 rounded-lg border px-4 py-3",
        {
          "border-success bg-success/10 text-success-content prose-code:bg-success/20 dark:prose-code:bg-success/20":
            variant === "tip",
        },
        {
          "border-warning bg-warning/10 text-warning-content prose-code:bg-warning/20 dark:prose-code:bg-warning/20":
            variant === "caution",
        },
        {
          "border-error bg-error/10 text-error-content prose-code:bg-error/20 dark:prose-code:bg-error/20":
            variant === "danger",
        },
        {
          "border-info bg-info/10 text-info-content prose-code:bg-info/20 dark:prose-code:bg-info/20":
            variant === "info",
        },
      ]}
    >
      <div class="flex items-center gap-2 pb-2">
        <Icon
          name={icon}
          class="text-base-700 dark:text-base-300 size-7"
          aria-hidden="true"
        />
        <p class="text-sm font-bold">{label}</p>
      </div>
      <slot />
    </div>
  )
}
