---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

// data
import { type navLinkItem } from "@config/types/configDataTypes";

interface Props {
  navItem: navLinkItem;
  class?: string;
  noIcon?: boolean;
}

const { navItem, class: className, noIcon = false } = Astro.props as Props;
const { text, link, newTab = false, icon } = navItem;

const currLocale = getLocaleFromUrl(Astro.url);

const domain = import.meta.env.SITE; // pulls from astro.config.mjs
let actualLink: string;
if (!link.includes(domain) && !link.startsWith("/") && !link.startsWith("#")) {
  // it is an external link
  actualLink = link;
} else {
  // internal link, so we need to add the locale to the link
  actualLink = getRelativeLocaleUrl(currLocale, link);
}
---

<li>
  <a
    class:list={[
      `primary-focus relative block flex w-full items-center gap-1.5 rounded-md px-4 py-2 font-medium leading-tight text-base-500 transition hover:text-base-600 dark:text-base-400 dark:hover:text-base-300 ${className}`,
      {
        // styling for current active page link, if desired
        "": Astro.url.pathname === actualLink,
      },
    ]}
    href={actualLink}
    target={newTab ? "_blank" : ""}
    rel={newTab ? "noopener noreferrer" : ""}
    aria-label={text}
  >
    {
      icon && !noIcon && (
        <Icon
          name={icon}
          aria-hidden="true"
          class="mt-0.5 size-5 self-start md:size-4"
        />
      )
    }
    {text}
  </a>
</li>
